// text
$text-title-color: #373A3C;
$text-description-color: #616164;

// main
$main-background: #C6D4D2;
$main-default-color: #FFFFFE;

$btn-primary-bg: #448B81;

// sidebar
$sidebar-bg: #448B81;
$sidebar-primary-bg: #D9E9E9;
$sidebar-logo: #FFFFFF;
$sidebar-footer: #272221;

// action button
$action-btn-primary: #272221;
$action-btn-color: #FFFFFF;

// table
$table-header-bg: #448B81;
$table-header-color: #FFFFFF;
$table-row-border-color: #DDDDDD;
$table-row-color: #373A3C;

// input
$input-disabled-bg: #C8DED8;
$input-disabled-color: #818A91;


// bootstrap overrides
$primary: $btn-primary-bg;